{% from "macros/fields.tmpl" import render_input_field, render_password_field,
                                    render_submit %}
{% extends "shared/layout.tmpl" %}

{% block title %}Hodnota{% endblock %}

{% block content %}
  <h3>hodnota</h3>
  <form method="POST" id="register-form" action="/formularhodnota">
    {{ form.hidden_tag() }}
    {{ render_input_field(form.hodnota1) }}
    {{ render_input_field(form.hodnota2) }}
    {{ render_submit() }}
  </form>
{% endblock %}